/*imported fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*
{ /*default padding and margin for all elements*/
    padding: 0;
    margin: 0;
}
body{ /*styling for the entire body of each pages*/
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
    background-color: #D2E6D2;
}
.section{ /*styling for the sections in the body*/
    width: 100vw;
    height: 100vh;
}
#bgvid { /*styling for the background video of page 1 & 2*/
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
/*styling for the navigation bar*/
header{ 
    width: 100vw;
    position: fixed;
    z-index: 1;
}
nav{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 0.7vw;
}
.logotitle{
    display: flex;
}
.pagetitle{
    text-transform: uppercase;
    margin-top:8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: larger;
    color: #233719;
    margin-left: 8px;
}
.links{
    margin-top: 9px;
}
.links a{
    font-family: 'Montserrat', sans-serif;
    color: #386028;
    margin-left: 1vw;
    text-decoration: none;
    transition: 0.2s; 
}
.links a:hover{ /*styling for the animation of navigation links*/
    transition: 0.2s;
    text-decoration: underline;
    color: #000000;
}
.logo img{
    width: 40px;
    height: 40px;
}
/*end of the styling*/
.banner{ /*styling for the banner section*/
    margin-top: 10vw;
    padding: 5vw;
    text-align: center;
}
.banner .bannerheader p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: block;
    color: white;
    text-transform: uppercase;
} 
/*styling for the header and subheader titles*/
.highlight{
    background: rgb(33,117,37);
    background: linear-gradient(90deg, rgba(33,117,37,0.8897934173669468) 0%, rgba(47,233,38,0.7609418767507002) 51%, rgba(204,255,202,0.6937149859943977) 100%);
    padding: 3px 6px;
    border-radius: 6px;
    text-shadow: #223719 2px 2px;
    font-size: 3em;
}
.highlightsub{
    background: rgb(33,117,37);
    background: linear-gradient(90deg, rgba(33,117,37,0.8897934173669468) 0%, rgba(47,233,38,0.7609418767507002) 51%, rgba(204,255,202,0.6937149859943977) 100%);
    padding: 3px 6px;
    border-radius: 6px;
    font-style: italic;
    text-shadow: #223719 1px 1px;
    font-size: 1.5em;
}
.main-content #sh span{ /*styling for the specific part in the subheader in the banner section*/
    font-family: 'Montserrat', sans-serif;
    color: #789bae;
} 
.more{ /*styling for the position of the clickable box link below the headers in the banner section*/
    margin-top: 2em;
}
.more a{ /*styling for the clickable box link below the headers in the banner section*/
    background-color: #386028;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    border: 3px solid #ffffff;
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.more a:hover{ /*styling for the animation of the text in the clickable box link below the headers in the banner section*/
transition: 0.2;
color: #fff8f4;
opacity: .50;
background-color: #144500;
}
/*styling  of the animation for the two divs of the dogs in the banner section*/
.doganimation{
    display: flex;
    justify-content: center;
}
#dog1{ /*styling for the first dog*/
    background: url(../media/images/dog1.png);
    height: 354px;
    width: 257px;
    background-size: cover;
    animation: dogslide 2s infinite linear;
}
@keyframes dogslide{
    0%{
        transform: scale(0%);
    }
    50%{
        transform: scale(100%);
    }
    100%{
        transform: scale(0%)
    }
}
#dog2{ /* styling for the second dog*/
    background: url(../media/images/dog2.png);
    height: 311px;
    width: 250px;
    float: right;
    margin-top: -20em;
    background-size: cover;
    animation: dogslide2 2s infinite linear;
}
@keyframes dogslide2{
    0%{
        transform: scale(0%);
    }
    50%{
        transform: scale(100%);
    }
    100%{
        transform: scale(0%)
    }
}
.organizationbg{ /*styling for the organization background div of the section*/
    width: 100vw;
    height: 100vh;
}
.boxorg{ /*styling for the organization bacground box*/
    background-color: #D2E6D2;
    border: 4px solid;
    border-color: #51843C;
    padding: 50px;
    width: 50vw;
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 5em;
    text-align: center;
}
/*styling of the contents inside the box*/
#titleorg{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    border-radius: 6px;
    text-shadow: #223719 1px 1px;
    background-color: #3860287d;
}
#text{
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
/*styling of the organization's achievements container in the section*/
.cardcontainer{
    margin-top: 10em;
    margin-bottom: 10em;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
}
.cardcontainer h1{
    width: 50vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    border-radius: 6px;
    text-shadow: #233719 1px 1px;
}
.content-section{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
}
.content-section .card{
    background-color: #ffffff;
    flex: 1;
    margin: 20px 20px;
    box-shadow: 3px 3px #233719;
}
.card img{
    width: 100%;
}
.card h3{
    color: #223719;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.card p{
    color: #223719;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
}
/*styling for the second section in page two*/
.pagetwo{
    display: grid;
    place-items: center;
}
/*styling of the initiative box in page two*/
.initiativesbox{
    background-color: #ffffff;
    margin-top: 13em;
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
    box-shadow: #223719 4px 4px;
}
.initiativesbox .left{
    overflow: hidden;
}
.initiativesbox .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textbox h1{
    margin-top: 1em;
    color: #223719;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.textbox p{
    color: #223719;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-right: 1em;
    font-family: 'Montserrat', sans-serif;
}
/*styling of the organization's involvements container in the section*/
.cardcontainer2{
    margin-top: 3em;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
}
.cardcontainer2 h1{
    text-align: center;
    margin-top: 3em;
    color: #ffffff;
    text-shadow: #223719 1px 1px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.cardcontainer2 p{
    text-align: center;
    color: #ffffff;
    text-shadow: #223719 1px 1px;
    font-family: 'Montserrat', sans-serif;
}
.content-section2{
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-section2 .card h3{
    color: #ffffff;
    text-shadow: #223719 1px 1px;
}
.content-section2 img{
    border-radius: 8px;
    width: 80%;
}
.content-section2 .card{
    flex: 1;
    margin: 20px 20px;
    transition: 0.3s;
}
.content-section2 .card:hover{ /*hover effect style*/
    transform: scale(1.1);
    transform: 0.3s;
    opacity: 0.8;
}
.actparsection{ /*styling of the activities and participation div in the section*/
    margin-top: 3em;
    margin-bottom: 3em;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 90px;
}
.actparsection h1{
    text-align: center;
    margin-bottom: 1em;
    color: #ffffff;
    text-shadow: #223719 1px 1px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.actparsection p{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    color: #ffffff;
    text-shadow: #223719 1px 1px;
    font-family: 'Montserrat', sans-serif;
}
.actparsection ul{
    text-align: left;
    margin-top: 3em;
    margin-bottom: 1em;
    color: #ffffff;
    text-shadow: #223719 1px 1px;
    font-family: 'Montserrat', sans-serif;
}
#vidcontent{ /*styling for the video in activities and participation div in the section*/
    box-shadow: #223719 4px 4px;
    width: 50%;
}
.page3{ /*styling for the page3 section in the last html page*/
    padding: 5vw;
    text-align: left;
}
/*styling for the section's contents*/
.page3 article{
    font-size: large;
}
.about1{ /*styling for the first two parts of the section*/
    margin-top: 5em;
    animation: about1 2s;
}
@keyframes about1{ /*animations for the div*/
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}
.about2{ /*styling for the last two parts of the section*/
    margin-top: 5em;
    animation: about2 2s;
}
@keyframes about2{ /*animations for the div*/
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}
/*styling for the text contents in the section*/
.about1 h1{ 
    width: 50vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    border-radius: 6px;
    text-shadow: #223719 1px 1px;
    background-color: #3860287d;
}
.vision{
    margin-top: 3em;
}
.how{
    margin-top: 3em;
}
.about2 h1{
    width: 50vw;
    margin-top: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    border-radius: 6px;
    text-shadow: #223719 1px 1px;
    background-color: #3860287d;
}
.content-section3{ /*styling of the donation links in the section*/
    margin-top: 4em;
    margin-bottom: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-section3 img{
    border-radius: 8px;
    width: 90%;
}
.content-section3 .card{
    flex: 1;
    margin: 20px 20px;
    transition: 0.3s;
}
.content-section3 .card:hover{
    transform: scale(1.1);
    transform: 0.3s;
    opacity: 0.8;
}
footer{ /*styling for the footer*/
    text-align: center;
    width: 100vw;
    position: fixed;
    bottom: 0vw;
    background-color: rgb(255, 255, 255);
}
footer h5{
    font-family: 'Montserrat', sans-serif;
    color: #233719;
}
.icon{ /*styling for the sprite icons in the footer*/
	background: url(../media/images/sprite3.png) no-repeat;
    display: inline-block;
    border: 1px solid white;
    scale: 0.9;
	width: 66px;
	height: 66px;
} 
/*sprite positions*/
#Facebook{background-position: -439px -146px;}
#Twitter{background-position: -66px -72px;}
#Instagram{background-position: -290px -221px;}
#Gmail{background-position: -365px -221px}
/*responsive screen*/
@media screen and (max-width: 992px){/*desktop*/}
@media screen and (max-width: 480px){ /*mobile*/}
@media screen and (max-width: 768px) { /*tablet*/
    .content-section{
        flex-direction: column;
    }
    .achievements{
        flex-direction: column;
    }
    .content-section2{
        flex-direction: column;
    }
    .content-section3{
        flex-direction: column;
    }
    nav{
        position: relative;
        background-color: rgb(255, 255, 255);
    }
    .logotitle{
        background-color: #379d39;
        padding: 1vw;
        color: #223719;
    }
    .links{
        display: none;
        position: absolute; 
        background-color:#386028;
        min-width:100vw;
    }
    .links a{
        color: #ffffff;
        padding: 1vw;
        display: block;
    }
    .links a:hover{
        text-decoration: none;
        width: 100%;
        background-color: #D2E6D2; 
        transition: .3s;
    }
    nav:hover .links{
        color: #ffffff;
        display: block;
        transition: .3s;
    }


}
